{
  "root": true,
  "parser": "@babel/eslint-parser",
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "prettier", "plugin:jest/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}
